# <font color='green' size=6 > Repaso intensivo de Python

Elaborado por **Kevin Campos Sánchez**

Ayudante de cátedra del curso **TÉCNICAS DE PROGRAMACIÓN II** durante el ciclo académico 2022-II.

Universidad Nacional Agraria La Molina, Lima-Perú

04/10/2022

## <font color='blue'> Tipos de datos

In [ ]:
import pandas as pd, numpy as np
from datetime import datetime

dict_ = {'Fecha': pd.date_range(start = '01-01-2022', freq = 'm', periods = 8),
         'Día': ['Lunes', 'Lunes', 'Jueves', 'Sábado', 'Martes', 'Jueves', 'Domingo', 'Miércoles'],
         'PP [mm]': [0., 0.1, 0., 0., np.nan, 1.1, 2.0, 2.4], 
         'TMAX [°C]': [21.2, 21.3, 20.6, 20.0, 21.0, 20.8, 20.9, 20.4],
         'TMIN [°C]': [16.3, 18.2, 19.8, 20.1, np.nan, 17.5, 16.4, 18.9],
         'HR [%]': [98, 99, 100, 96, 95, 96, 98, 94]}

df = pd.DataFrame(dict_)
# df['Llovió'] = df['PP [mm]'] > 0.
# df['Coherencia'] = df['TMAX [°C]'] > df['TMIN [°C]']
df

       Fecha        Día  PP [mm]  TMAX [°C]  TMIN [°C]  HR [%]
0 2022-01-31      Lunes      0.0       21.2       16.3      98
1 2022-02-28      Lunes      0.1       21.3       18.2      99
2 2022-03-31     Jueves      0.0       20.6       19.8     100
3 2022-04-30     Sábado      0.0       20.0       20.1      96
4 2022-05-31     Martes      NaN       21.0        NaN      95
5 2022-06-30     Jueves      1.1       20.8       17.5      96
6 2022-07-31    Domingo      2.0       20.9       16.4      98
7 2022-08-31  Miércoles      2.4       20.4       18.9      94

In [ ]:
# Numéricos
1    # int
1.5  # float (decimal)

# Carácteres (string)
'hola'
"mundo"

letras = 'A mí me dicen "el zhaval".'

'''
hola
mundo
en varias líneas
'''

# Booleano
True
False

False

### Conversión entre tipos de datos

In [ ]:
# Calculadora 1: 
num_1 = input('Inserte número 1: ')
num_2 = input('Inserte número 2: ')

num_3 = num_1 + num_2   # incorrecto
print(num_3)

Inserte número 1: 7
Inserte número 2: 9
79

In [ ]:
# Calculadora 2
num_1 = input('Inserte número 1: ')
num_2 = input('Inserte número 2: ')

num_3 = int(num_1) + int(num_2) # correcto
print(num_3)

Inserte número 1: 7
Inserte número 2: 9
16

## <font color='blue'> Estructura de datos

#### Crear

In [1]:
# listas y tuplas
lista = [True, 'hola', 1, 1.5]  # Corchetes [], mutable
tupla = (True, 'hola', 1, 1.5)  # Paréntesis (), inmutable, + eficiente

# Diccionarios
Diccionario = {0: True, 'Llave 2': 1, 'Llave 3': 3.52141}  # {}

print('Lista: ', lista)
print('Tupla: ', tupla)
print('Diccionario: ', Diccionario)

Lista:  [True, 'hola', 1, 1.5]
Tupla:  (True, 'hola', 1, 1.5)
Diccionario:  {0: True, 'Llave 2': 1, 'Llave 3': 3.52141}

#### Seleccionar elemento

In [ ]:
lista_ = lista[0]
tupla_ = tupla[0:2]
Diccionario_ = Diccionario['Llave 2']

print('Lista: ', lista_)
print('Tupla: ', tupla_)
print('Diccionario: ', Diccionario_)

Lista:  True
Tupla:  (True, 'hola')
Diccionario:  1

#### Agregar elemento

In [ ]:
print('Lista: ', lista)
print('Diccionario: ', Diccionario, '\n')

#==================================================
lista.append('Nuevo dato')
Diccionario['Nueva llave'] = 'Nuevo valor'

print('Lista: ', lista)
print('Diccionario: ', Diccionario)

Lista:  [True, 'hola', 1, 1.5]
Diccionario:  {0: True, 'Llave 2': 1, 'Llave 3': 3.52141}

Lista:  [True, 'hola', 1, 1.5, 'Nuevo dato']
Diccionario:  {0: True, 'Llave 2': 1, 'Llave 3': 3.52141, 'Nueva llave': 'Nuevo valor'}

#### Eliminar elemento

In [ ]:
print('Lista: ', lista)
print('Diccionario: ', Diccionario, '\n')

#==================================================
lista.remove('Nuevo dato')
del Diccionario['Nueva llave']

print('Lista: ', lista)
print('Diccionario: ', Diccionario)

Lista:  [True, 'hola', 1, 1.5, 'Nuevo dato']
Diccionario:  {0: True, 'Llave 2': 1, 'Llave 3': 3.52141, 'Nueva llave': 'Nuevo valor'}

Lista:  [True, 'hola', 1, 1.5]
Diccionario:  {0: True, 'Llave 2': 1, 'Llave 3': 3.52141}

#### Ordenar elementos

In [2]:
lista_2 = [10, 1, 5, 90]
Diccionario_2 = {0:'cero', 5:'cinco', 1:'uno', 10:'diez'}

print('Lista: ', lista_2)
print('Diccionario: ', Diccionario_2, '\n')

#==================================================
lista_2.sort()          # Inplace
Dict_sort_1 = sorted(Diccionario_2.items(), key = lambda Diccionario_2: Diccionario_2[0])   # No inplace
Dict_sort_2 = sorted(Diccionario_2.items(), key = lambda Diccionario_2: Diccionario_2[1])   # No inplace

print('Lista: ', lista_2)
print('Diccionario: ', Dict_sort_1)
print('Diccionario: ', Dict_sort_2)

Lista:  [10, 1, 5, 90]
Diccionario:  {0: 'cero', 5: 'cinco', 1: 'uno', 10: 'diez'}

Lista:  [1, 5, 10, 90]
Diccionario:  [(0, 'cero'), (1, 'uno'), (5, 'cinco'), (10, 'diez')]
Diccionario:  [(0, 'cero'), (5, 'cinco'), (10, 'diez'), (1, 'uno')]

#### Unir

In [3]:
print(f'Listas: {lista}   {lista_2}')
print(f'Listas concatenadas: {lista + lista_2}')

print('\n')

print(f'Diccionarios: {Diccionario}     {Diccionario_2}')
Diccionario.update(Diccionario_2)
print(f'Diccionarios concatenados: {Diccionario}')

Listas: [True, 'hola', 1, 1.5]   [1, 5, 10, 90]
Listas concatenadas: [True, 'hola', 1, 1.5, 1, 5, 10, 90]


Diccionarios: {0: True, 'Llave 2': 1, 'Llave 3': 3.52141}     {0: 'cero', 5: 'cinco', 1: 'uno', 10: 'diez'}
Diccionarios concatenados: {0: 'cero', 'Llave 2': 1, 'Llave 3': 3.52141, 5: 'cinco', 1: 'uno', 10: 'diez'}

## <font color='blue'> Condicionales

In [ ]:
ga = int(input("Inserte un número: "))

if ga == 1:         # Si ga es igual a 1
    print('Uno')

elif ga == 2:       # Si ga es igual a 2
    print('Dos')

elif ga == 3:       # Si ga es igual a 3
    print('Tres')

else:               # Para todo lo demás
    print('Existe MasterCard')

Inserte un número: 1
Uno

In [ ]:
day = int(input('Inserte un día de la semana: '))
if ga == 1:         # Si ga es igual a 1
    print('Lunes')

elif ga == 2:       # Si ga es igual a 2
    print('Martes')

elif ga == 3:       # Si ga es igual a 3
    print('Miércoles')

elif ga == 4:       # Si ga es igual a 4
    print('Jueves')

elif ga == 5:       # Si ga es igual a 5
    print('Viernes')

elif ga == 6:       # Si ga es igual a 6
    print('Sábado')

elif ga == 7:       # Si ga es igual a 7
    print('Domingo')

else:               # Para todo lo demás
    print('Inserte un número entre 1 a 7')

## <font color='blue'> Bucles

#### While

In [ ]:
# Construye un bucle while que imprima todos 
# los meses con su climatología mensual de temperatura máxima

Meses = {0:'Enero', 1:'Febrero', 2:'Marzo', 3:'Abril', 4:'Mayo', 5:'Junio',
            6:'Julio', 7:'Agosto', 8:'Setiembre', 9:'Octubre', 10:'Noviembre', 11:'Diciembre'}
Normal_T = {0: 32.4, 1: 31.0, 2: 30.8, 3: 29.7, 4: 28.6, 5: 27.4,
            6: 27.0, 7: 27.9, 8: 28.2, 9: 29.1, 10: 30.1, 11: 31.8}

i = 0
while i < 12:
    if (i == 0 or i == 1 or i == 11):
        print(f'{Meses[i]}: {Normal_T[i]}')
    # i = i + 1
    i += 1

Enero: 32.4
Febrero: 31.0
Diciembre: 31.8

In [ ]:
# x2 a lo anterior, pero solo en los meses de verano

In [ ]:
# ¿Es un bucle infinito?

while 1 <= 10:
    print('ABCD')

while True:
    print('ABCD')

i = 0
while i != 10:
    print('ABCD')

i = 0
while i != 10:
    print('ABCD')
    i = i + 2

while 10:
    print('ABCD')

Soy_un_bucle_infinito = None
while Soy_un_bucle_infinito:
    print('ABCD')

In [ ]:
Soy_un_bucle_infinito = None
while Soy_un_bucle_infinito:
    print('ABCD')

#### For

In [ ]:
# Construye un bucle for que imprima todos los días de la semana, 
# usando como referencia el siguiente diccionario

Days = {0:'Lunes', 1: 'Martes', 2:'Miércoles', 3:'Jueves', 
        4:'Viernes', 5:'Sábados', 6:'Domingo'}

for i in range(0, 7):
    print(i)

0
1
2
3
4
5
6

In [ ]:
tuple(range(0, 10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# Construye un bucle for que imprima la tabla de 7

## <font color='blue'> Comprehensions

In [ ]:
# Constuya una lista, tupla y diccionario con valores del 0 al 9. Aplique comprehenson
List_compreh = [x for x in range(0,1000)]

tuple_compreh = tuple(x for x in range(0,1000))

dict_compreh =  {x:(x+1) for x in range(0,10)}
print(dict_compreh)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [ ]:
# Construya una lista con valores pares del 0 al 10
[x for x in range(0,10+1) if x % 2 == 0]

# [x if x % 2 == 0 else 'A' for x in range(0,120+1)]

[0, 2, 4, 6, 8, 10]

In [ ]:
a = [x if x%2==0 else x+1 for x in range(120)]
a

## <font color='blue'> Funciones

Calcule el promedio de a, b y c, donde: 

* b = a ** 2
* c = b // a

In [6]:
# Forma tradicional
a = 3
b = a ** 2
c = b // a      # //: División exacta

X = (a + b + c)/3
print(f'resultado: {X}')

resultado: 5.0

Ahora, lo haremos utilizando funciones para realizar varios cálculos

In [7]:
def Funcion_1(a):
    b = a ** 2
    c = b // a
    return (a + b + c)/3

a = 10
print(f'Para a = {a}, se tiene el resultado: {Funcion_1(a)}')

Para a = 10, se tiene el resultado: 40.0

In [9]:
a = 50
print(f'Para a = {a}, se tiene el resultado: {Funcion_1(a):.4f}')

Para a = 50, se tiene el resultado: 866.6667

In [10]:
a = 99999.1
print(f'Para a = {a}, se tiene el resultado: {Funcion_1(a):.4f}')

Para a = 99999.1, se tiene el resultado: 3333339999.6367

## <font color='blue'> Funciones lambda

In [11]:
Funcion_1 = lambda a: (a + (a ** 2) + (a ** 2 // a))/3

a = 10
print(f'Para a = {a}, se tiene el resultado: {Funcion_1(a)}')

Para a = 10, se tiene el resultado: 40.0

Ejercicio: de una serie de números cualquiera, sumar +1 a los números pares

In [17]:
func = lambda x: x + 1 if (x % 2 == 0) else x

for i in [1,2,3,4,5,6,7,8,9,10]:
    print(f'{i}: {func(i)}')

1: 1
2: 3
3: 3
4: 5
5: 5
6: 7
7: 7
8: 9
9: 9
10: 11

In [18]:
func_2 = lambda x,y: x + y
print(func_2(x = 10, y = 20))

30